In [49]:
#Import Dependencies
import pandas as pd

In [50]:
# The path to our CSV file
file = "Resources/purchase_data.csv"

# Read our purchase data into pandas
df = pd.read_csv(file)
df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44


### Player Count

* Total Number of Players

In [51]:
# Total Number of Players
df["SN"].unique()
df["SN"].value_counts()
player_count = len(df["SN"].value_counts())
player_count

576

### Purchasing Analysis (Total)

* Number of Unique Items
* Average Purchase Price
* Total Number of Purchases
* Total Revenue

In [57]:
# Number of Unique Items
df["Item Name"].unique()
df["Item Name"].value_counts()
Number_uniqueItem = len(df["Item Name"].value_counts())
Number_uniqueItem

179

In [58]:
#Average Purchase Price
AvgPrice = df["Price"].mean()
AvgPrice

3.050987179487176

In [60]:
#Total Number of Purchases
Total_purchase = len(df["Item Name"])
Total_purchase

780

In [61]:
#Total Revenue
Revenue = df["Price"].sum()
Revenue

2379.77

In [62]:
# Create new DataFrame to make summary table
Purchasing_Analysis_Total = pd.DataFrame({"Number of Unique Items": [Number_uniqueItem],
                                           "Average Price": [AvgPrice],
                                           "Number of Purchases": [Total_purchase],
                                           "Total Revenue": [Revenue]})

# DataFrame formatting
Purchasing_Analysis_Total["Average Price"] = Purchasing_Analysis_Total["Average Price"].map("${:.2f}".format)
Purchasing_Analysis_Total["Total Revenue"] = Purchasing_Analysis_Total["Total Revenue"].map("${:.2f}".format)
Purchasing_Analysis_Total = Purchasing_Analysis_Total[["Number of Unique Items", "Average Price", "Number of Purchases", "Total Revenue"]]

Purchasing_Analysis_Total

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780      $2379.77

### Gender Demographics

* Percentage and Count of Male Players
* Percentage and Count of Female Players
* Percentage and Count of Other / Non-Disclosed

In [81]:
#Count of Male,Female and other/non-disclosed Players

gender_count = df["Gender"].value_counts()
gender_count

Male                     652
Female                   113
Other / Non-Disclosed     15
Name: Gender, dtype: int64

In [82]:
#Percent of Male,Female and other/non-disclosed Players

gender_totalcount = df["Gender"].count()
gender_totalcount

780

In [84]:
gender_Perc = (genter_count/genter_totalcount)*100
gender_Perc = gender_Perc .round(2)
gender_Perc

Male                     83.59
Female                   14.49
Other / Non-Disclosed     1.92
Name: Gender, dtype: float64

In [85]:
gender_demographics = pd.DataFrame({"Total Count":genter_count, "Percentage of players": gender_Perc})
gender_demographics

                       Total Count  Percentage of players
Male                           652                  83.59
Female                         113                  14.49
Other / Non-Disclosed           15                   1.92

### Purchasing Analysis (Gender)

* The below each broken by gender
  * Purchase Count
  * Average Purchase Price
  * Total Purchase Value
  * Average Purchase Total per Person by Gender

In [90]:
gender = df.groupby(["Gender"])
purchase_count = gender["SN"].count()
purchase_count.count()

3