In [145]:
#Import Dependencies
import pandas as pd

In [146]:
# The path to our CSV file
school_file = "Resources/schools_complete.csv"

# Read our Students data into pandas
df_school = pd.read_csv(school_file)
df_school.head()

   School ID            school_name      type  size   budget
0          0      Huang High School  District  2917  1910635
1          1   Figueroa High School  District  2949  1884411
2          2    Shelton High School   Charter  1761  1056600
3          3  Hernandez High School  District  4635  3022020
4          4    Griffin High School   Charter  1468   917500

In [147]:
# The path to our CSV file
student_file = "Resources/students_complete.csv"

# Read our Students data into pandas
df_student = pd.read_csv(student_file)
df_student.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84

In [148]:
# Merging  student with school file
all_df = pd.merge(df_school,df_student, on=('school_name'))
all_df.head()

,School ID,school_name,type,size,budget,Student ID,student_name,gender,grade,reading_score,math_score
0,0,Huang High School,District,2917,1910635,0,Paul Bradley,M,9th,66,79
1,0,Huang High School,District,2917,1910635,1,Victor Smith,M,12th,94,61
2,0,Huang High School,District,2917,1910635,2,Kevin Rodriguez,M,12th,90,60
3,0,Huang High School,District,2917,1910635,3,Dr. Richard Scott,M,12th,67,58
4,0,Huang High School,District,2917,1910635,4,Bonnie Ray,F,9th,97,84

### District Summary

* Create a high level snapshot (in table form) of the district's key metrics, including:
  * Total Schools
  * Total Students
  * Total Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [151]:
#Total Schools
total_schools = all_df["school_name"].nunique()
#Total Students
total_students = all_df["Student ID"].count()
#Total Budget
total_budget = df_school["budget"].sum()
#Average Math Score
avg_math = all_df["math_score"].mean()
#Average Reading Score
avg_read = all_df["reading_score"].mean()
#% Passing Math
math_pass = df_student.loc[df_student["math_score"] >= 70]
count_pass_math = math_pass["math_score"].count()
per_math_pass = (count_pass_math/total_students)*100
#% Passing Reading
read_pass = df_student.loc[df_student["reading_score"] >= 70]
count_pass_read = read_pass["reading_score"].count()
per_read_pass = (count_pass_read/total_students)*100
#Overall Passing Rate (Average of the above two)
overall=(per_math_pass + per_read_pass )/2
# Make dataframe with the results
district_summary = pd.DataFrame({"Total Schools" : [total_schools],
                   "Total Students" : [total_students],
                   "Total Budget" : [total_budget],
                   "Average Math Score" :[avg_math],
                   "Average Reading Score" : [avg_read],
                    "% Passing Math" : [per_math_pass],
                   "% Passing Reading" : [per_read_pass],
                   "% Overall Passing" : [overall]
                  })
                                 
district_summary

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,39170,24649428,78.985371,81.87784,74.980853,85.805463,80.393158

### School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [157]:

#groups by school
school = all_df.set_index('school_name').groupby(['school_name'])

types = df_school.set_index('school_name')['type']

# sum students by school
student_school = all_df.groupby("school_name")['Student ID'].count()

# school budget
school_budget = df_school.set_index('school_name')['budget']

#student budget
student_budget = df_school.set_index('school_name')['budget']/df_school.set_index('school_name')['size']

#avg scores by school
Avg_math = school['math_score'].mean()
Avg_read = school['reading_score'].mean()

# % passing scores
pass_math = all_df[all_df['math_score'] >= 70].groupby('school_name')['Student ID'].count()/student_school 
pass_read = all_df[all_df['reading_score'] >= 70].groupby('school_name')['Student ID'].count()/student_school
overall_school = all_df[(all_df['reading_score'] >= 70) & (all_df['math_score'] >= 70)].groupby('school_name')['Student ID'].count()/student_school

school_summary = pd.DataFrame({
    "School Type": types,
    "Total Students": student_school,
    "Per Student Budget": student_budget,
    "Total School Budget": school_budget,
    "Average Math Score": Avg_math,
    "Average Reading Score": Avg_read,
    '% Passing Math': pass_math,
    '% Passing Reading': pass_read,
    "Overall Passing Rate": overall_school
})




#munging
school_summary = school_summary[['School Type', 
                          'Total Students', 
                          'Total School Budget', 
                          'Per Student Budget', 
                          'Average Math Score', 
                          'Average Reading Score',
                          '% Passing Math',
                          '% Passing Reading',
                          'Overall Passing Rate']]

school_summary

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing Rate
Bailey High School,District,4976,3124928,628.0,77.048432,81.033963,0.666801,0.819333,0.546423
Cabrera High School,Charter,1858,1081356,582.0,83.061895,83.975780,0.941335,0.970398,0.913348
Figueroa High School,District,2949,1884411,639.0,76.711767,81.158020,0.659885,0.807392,0.532045
Ford High School,District,2739,1763916,644.0,77.102592,80.746258,0.683096,0.792990,0.542899
Griffin High School,Charter,1468,917500,625.0,83.351499,83.816757,0.933924,0.971390,0.905995
Hernandez High School,District,4635,3022020,652.0,77.289752,80.934412,0.667530,0.808630,0.535275
Holden High School,Charter,427,248087,581.0,83.803279,83.814988,0.925059,0.962529,0.892272
Huang High School,District,2917,1910635,655.0,76.629414,81.182722,0.656839,0.813164,0.535139
Johnson High School,District,4761,3094650,650.0,77.072464,80.966394,0.660576,0.812224,0.535392
Pena High School,Charter,962,585858,609.0,83.839917,84.044699,0.945946,0.959459,0.905405
Rodriguez High School,District,3999,2547363,637.0,76.842711,80.744686,0.663666,0.802201,0.529882
Shelton High School,Charter,1761,1056600,600.0,83.359455,83.725724,0.938671,0.958546,0.898921
Thomas High School,Charter,1635,1043130,638.0,83.418349,83.848930,0.932722,0.973089,0.909480
Wilson High School,Charter,2283,1319574,578.0,83.274201,83.989488,0.938677,0.965396,0.905826
Wright High School,Charter,1800,1049400,583.0,83.682222,83.955000,0.933333,0.966111,0.903333